    .submit-button {
        color:#FFF;
        background: blue;
        border-radius: 30px !important;
        border: 1px solid #FFF;
        height: 50px;
        margin-left: auto;
        margin-right: auto;
        display: block !important;
        width: 325px;
        font-size: 110%;      
      }

